@model PagedList.IPagedList<OpenDoors.Models.Story>
@using PagedList;
@using PagedList.Mvc;

@{
  var config = (OpenDoors.Models.ArchiveConfig)TempData["config"];
  ViewBag.Title = config.Name;
  ViewData["type"] = TempData["type"];
  Layout = "~/Views/_LayoutPage.cshtml";
}

  <div class="center">
    @Html.PagedListPager(Model, page => Url.Action(ViewContext.RouteData.Values["Action"].ToString(), new { page, pageSize = Model.PageSize }))
    
    @Html.ActionLink("check all imported on this page",
                    "CheckAll",
                    "Story",
                    new { 
                      ids = string.Join(",", Model.Select(s => s.ID).ToArray()), 
                      page = Model.PageNumber, 
                      pageSize = Model.PageSize 
                    },
                    new { @class = "btn btn-success" })

  </div>

            
<div class="extra-space">
  @foreach (var story in Model)
  {
    ViewData["type"] = "Story";
    @Html.Partial("_Meta", story, ViewData)
  }
</div>